<!-- <div class="card"
     *ngIf="anime!=null">
    <h5 class="card-title">{{anime.name}}</h5>
    <p class="card-text">{{anime.episode}}</p>
    <img class="card-img-top"
         src="{{anime.image}}"
         alt="Card image cap">
    <div class="card-body">
        <a routerLink="{{anime.magnet}}">Magnet</a>

    </div>
</div> -->


<div class="container">
    <img src="{{anime.image}}">
    <div class="blur"></div>
    <div class="bottom-left">{{anime.episode}}</div>
    <div class="top-left">{{anime.name}}</div>

    <div class="bottom-right">
        <a [href]="anime.magnet | safeLink">Magnet</a>
    </div>

</div>